<template>
  <div>
    <h5 class="text-center text-dark"><b>Approve User</b></h5>
    <div class="form-group">
      <label for="approveUser">Select user to approve</label>
      <select v-if="users.length !== 0" v-model="selected" class="form-control input-padding" id="approveUser">
        <option v-for="user in users" :value="user">{{ user.firstName }} {{ user.lastName }}</option>
      </select>
      <input v-else type="text" class="form-control input-padding" placeholder="There are no users to approve" disabled>
    </div>
    <div class="row">
      <div class="text-left col">
        <button class="btn btn-primary" @click="showApproveModal = true" :disabled="!selected"> Approve </button>
        <approve-modal model="user" v-if="selected" :name="selected.firstName" :show="showApproveModal"
                      @close="showApproveModal = false" @approve="approve"/>
      </div>
    </div>
  </div>
</template>

<script>
import ApproveModal from "../Modal/ApproveModal";

export default {
    name: "ApproveUser",
    components: {
        ApproveModal
    },
    data() {
        return {
            users: [],
            name: '',
            selected: null,
            showApproveModal: false
        }
    },
    created() {
      this.$http.get('/users', {
        params: {
          pending: true,
          compact: true
        }
      }).then(res => {
        this.users = res.data.data;
      });
    },
    watch: {
        selected() {
            this.name = this.selected ? this.selected.firstName : '';
        }
    },
    methods: {
        setNull() {
            this.selected = null;
        },
        approve() {
            if (!this.selected) {
                console.log("Please select a user to validate");
                return;
            }

            this.$http.put(`/users/approve`, {
                uuid: this.selected.uuid
            }).then(res => {
                console.log("User approved: ", res.data.data)
                this.setNull();
            }).catch(error => {
                console.log("There was an error: ", error);
            });
        }
    }
}
</script>

<style scoped>

</style>