<template>
  <div>
    <h5 class="text-center text-dark"><b>Remove User</b></h5>
    <div class="form-group">
      <label for="deleteUser">Select user to delete</label>
      <select v-model="selected" class="form-control input-padding" id="deleteUser">
        <option v-for="user in users" :value="user">{{user.firstName}} {{user.lastName}}</option>
      </select>
    </div>
    <div class="row">
      <div class="text-left col">
        <button class="btn btn-danger col-auto" @click="showDeleteModal = true" :disabled="!selected"> Delete </button>
        <delete-modal model="user" v-if="selected" :name="selected.firstName" :show="showDeleteModal"
                      @close="showDeleteModal = false" @delete="remove"/>
      </div>
    </div>
  </div>
</template>

<script>
import DeleteModal from "../Modal/DeleteModal";

export default {
    name: "RemoveUser",
    components: {
        DeleteModal
    },
    data() {
        return {
            users: [],
            name: '',
            selected: null,
            showDeleteModal: false
        }
    },
    created() {
        this.$http.get('/users', {
            params: { compact: true }
        }).then(res => {
            this.users = res.data.data;
        });
    },
    watch: {
        selected() {
            this.name = this.selected ? this.selected.firstName : '';
        }
    },
    methods: {
        setNull() {
            this.selected = null;
        },
        remove() {
            this.showDeleteModal = false;
            if (!this.selected) {
                console.log("Please select a user");
                return;
            }

            this.$http.delete(`/users/${this.selected.uuid}`
            ).then(() => {
                this.showDeleteModal = true;
                console.log("User deleted: ", this.selected.firstName)
                this.setNull();
            }).catch(error => {
               console.log("There was an error: ", error);
            });
        }
    }
}
</script>

<style scoped>

</style>