<template>
  <div class="bg-culi">
    <div class="container spacing" v-if="user">
      <div class="row">
        <div class="col-1">
          <router-link :to="{ name: 'home' }">
            <i class="fas fa-3x fa-angle-left icon ml-3"></i>
          </router-link>
        </div>
        <div class="col-11">
          <h3 class="text-center text-title">Account</h3>
          <hr class="underlined">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-4 mb-sm-3 ml-md-5 my-auto position-top">
          <img class="img-fluid image-round" src="https://enschedelly.nl/img/profile_winter_2019.jpg">
          <!-- TODO: vertically align image to top (right now it drops down when going to edit) -->
        </div>
        <div class="col-lg-6 text-left mb-sm-3 ml-md-5 mt-sm-3">
          <div v-if="active === 'show'">
            <show-user-info :user="user"/>
            <div class="pt-5"><button class="btn btn-primary" @click="active = 'edit'">Profiel Wijzigen</button></div>
          </div>
          <div v-if="active === 'edit'">
            <edit-user-info :user="user"/>
            <div class="row">
              <div class="pt-5 pl-3 mr-4"><button class="btn btn-secondary col-auto" @click="active = 'show'">Terug</button></div>
              <div class="pt-5 mr-4"><button class="btn btn-primary col-auto" @click="showModifyModal = true">Bevestig</button></div>
              <div class="pt-5"><button class="btn btn-danger col-auto" @click="showDeleteModal = true">Profiel Verwijderen</button></div>
            </div>
          </div>
          <modify-modal model="jouw profiel" name=" " :show="showModifyModal"
                        @close="showModifyModal = false" @modify="alter"/>
          <delete-modal model="jouw profiel" name=" " :show="showDeleteModal"
                        @close="showDeleteModal = false" @delete="remove"/>
          <!-- TODO: add a 'are you very very sure'-modal when delete -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DeleteModal from "../../components/Modal/DeleteModal";
import ModifyModal from "../../components/Modal/ModifyModal";
import ShowUserInfo from "../../components/Settings/ShowUserInfo";
import EditUserInfo from "../../components/Settings/EditUserInfo";
import { mapGetters } from "vuex";

export default {
    name: "Settings",
    components: {
      ShowUserInfo,
      EditUserInfo,
      ModifyModal,
      DeleteModal
    },
    computed: {
        ...mapGetters(['user'])
    },
    data() {
        return {
            active: 'show',
            isValid: true,

            firstName: '',
            lastName: '',
            email: '',

            showModifyModal: false,
            showDeleteModal: false
        }
    },
    methods: {
        validate() {
            this.isValid = true; // TODO: validate properly
            if (this.isValid) this.showModifyModal = true;
            if (!this.isValid) console.log("Please fill in the form on the red spots.");
        },
        alter() {
            if (!this.isValid) {
                console.log("Please select an equipment and enter a name");
                return;
            }

            this.$http.put(`/users/${this.user.uuid}`, {
                firstName: this.firstName,
                lastName: this.lastName,
                email: this.email
            }).then(res => {
                console.log("User updated: ", res.data.data);
                this.active = 'show';
            }).catch(error => {
                console.log("There was an error: ", error);
            });
        },
        remove() {
            this.showDeleteModal = false;

            this.$http.delete(`/users/${this.user.uuid}`
            ).then(() => {
                this.showDeleteModal = true;
                console.log("User deleted: ", this.user.name)
                this.logout();
            }).catch(error => {
                console.log("There was an error: ", error);
            });
        },
        logout() {
            // TODO: logout user and redirect to home page
        }
    }
}
</script>

<style scoped lang="scss">
  a:hover {
    color: $primary !important;
  }

  .th {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .td {
    font-size: 16px;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }

</style>
