<template>
  <div>
    <!-- Menu Bar -->
    <action-bar @headerTitleClick="onHeaderTitleClick">
      <template v-slot:menu-content>
        <template v-if="isLoggedIn">
          <span class="dropdown-item disabled" v-if="user">
            {{ user.firstName }} {{ user.lastName }}
          </span>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item pointer">Opgeslagen</a>
          <div class="dropdown-divider"></div>
          <router-link class="dropdown-item pointer" :to="{ name: 'settings' }">Account</router-link>
          <a class="dropdown-item pointer" @click="logout">Uitloggen</a>
        </template>
        <template v-else>
          <a class="dropdown-item pointer" @click="login">Inloggen</a>
          <router-link class="dropdown-item pointer" :to="{ name: 'register' }">Registreren</router-link>
        </template>
      </template>
    </action-bar>

    <!-- Home -->
    <router-view />

    <!-- Footer -->
    <Footer />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import http from "@/services/http";

export default {
    name: "Default",
    computed: {
      ...mapGetters(['isLoggedIn', 'user'])
    },
    methods: {
        onHeaderTitleClick() {
            if (this.$route.name !== "home") {
                this.$router.push({ name: "home" });
            }
        },
        processUser(isLoggedIn) {
          if (isLoggedIn) {
            this.$store.dispatch('fetchUser');
          } else {
            this.$store.commit('setUser', null);
          }
        },
        login() {
            this.$router.push({ name: 'login', query: { redirect: this.$router.currentRoute.fullPath } })
        },
        logout() {
            http.logout();
        }
    },
    watch: {
        isLoggedIn(val) {
            this.processUser(val);
        }
    },
    created() {
        this.processUser(this.isLoggedIn);
    }
};
</script>
