<template>
  <div>
    <h5 class="text-center text-dark"><b>Add Equipment</b></h5>
    <div class="form-group">
      <label for="EquipName">Add name *</label>
      <input v-model="name" type="text" class="form-control input-padding" id="EquipName"
             placeholder="Name of the equipment" :class="{isRequired: !isValid}" @change="resetErrors()">
    </div>
    <button class="btn btn-primary" @click="create">Submit</button>
    <create-modal model="equipment" :name="name" :show="showModal" @close="onModalClose"/>
  </div>
</template>

<script>
    import CreateModal from '../Modal/CreateModal';

    export default {
        name: "AddEquipment",
        components: { CreateModal },
        data() {
            return {
                name: '',
                showModal: false,
                isValid: true
            }
        },
        methods: {
            setNull() {
                this.name = '';
            },
            create() {
                if (!this.name) {
                    this.isValid = false;
                    console.log("Please enter a name");
                    return;
                }

                this.isValid = true;
                this.$http.post('/equipments', {
                    name: this.name
                }).then(res => {
                    this.showModal = true;
                    console.log("Equipment created: ", res.data.data);
                }).catch(error => {
                    console.log("There was an error: ", error);
                });
            },
            onModalClose() {
                this.showModal = false;
                this.setNull();
            },
            resetErrors() {
                this.isValid = true;
            },
        }
    }
</script>

<style scoped lang="scss">

</style>
