<template>
  <div>
    <h5 class="text-center text-dark"><b>Add Recipe</b></h5>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="recipeName">Add the name *</label>
        <input v-model="name" type="text" class="form-control input-padding" id="recipeName"
               :class="{isRequired: !isValidName}" placeholder="Name of the Recipe" @change="resetErrors('name')">
      </div>
      <div class="form-group col-md-7">
        <label for="recipeSubtitle">Add a subtitle</label>
        <input v-model="subtitle" type="text" class="form-control input-padding" id="recipeSubtitle"
               placeholder="Subtitle for the Recipe">
      </div>
    </div>
    <div class="form-group">
      <label for="recipeDescription">Add a description *</label>
      <textarea v-model="description" class="form-control" id="recipeDescription" rows="1" style="padding-left: 21px" placeholder="Description of the Recipe"
                :class="{isRequired: !isValidDescription}" @change="resetErrors('description')"/>
    </div>

    <div class="row">
      <div class="col-md-7 label">Add the needed preparation time *</div>
      <div class="col-md-5">Add the needed waiting time</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="activeHours">Hours</label>
        <input v-model="activePrepTimeHours" type="number" min="0" class="form-control input-padding" id="activeHours"
               :class="{isRequired: !isValidTime}" @change="resetErrors('time')">
      </div>
      <div class="form-group col-md-3 time-gap">
        <label for="activeMins">Minutes</label>
        <input v-model="activePrepTimeMins" type="number" min="1" class="form-control input-padding" id="activeMins"
               :class="{isRequired: !isValidTime}" @change="resetErrors('time')">
      </div>
      <div class="form-group col-md-2">
        <label for="passiveHours">Hours</label>
        <input v-model="passivePrepTimeHours" type="number" min="0" class="form-control input-padding" id="passiveHours">
      </div>
      <div class="form-group col-md-3">
        <label for="passiveMins">Minutes</label>
        <input v-model="passivePrepTimeMins" type="number" min="1" class="form-control input-padding" id="passiveMins">
      </div>
    </div>

    <div class="form-group">
      <label for="addEquip">Add the needed equipment</label>
      <select v-model="selectedEquipment" multiple class="form-control" id="addEquip">
        <option v-for="equipment in equipments" :value="equipment.id">{{ equipment.name }}</option>
      </select>
    </div>

    <div class="form-group">
    <label>Add the needed ingredients *</label>
      <div class="alert alert-warning" role="alert" v-if="!isFullyFilledIngredients">
        <strong>Whoops!</strong> Some of the rows haven't been filled out fully. Please fill each field.
      </div>
      <div class="row" v-for="(_, index) in selectedIngredients">
        <div class="col-md-4 mb-2">
          <select v-model="selectedIngredients[index].ingredientId" class="form-control input-padding"
                  :class="[{ isRequired: (!isValidIngredients || !isFullyFilledIngredients) && index === 0 },
                    { unfilled: index === selectedIngredients.length - 1 && index > 0 }]"  @change="resetErrors('ingredients')">
            <option v-for="i in ingredients" :value="i.id">{{ i.name }}</option>
          </select>
        </div>
        <div class="col-md-4">
          <input v-model="selectedIngredients[index].amount" type="number" min="0" class="form-control input-padding"
                 :class="[{ isRequired: (!isValidIngredients || !isFullyFilledIngredients) && index === 0 },
                 { unfilled: index === selectedIngredients.length - 1 && index > 0 }]"  @change="resetErrors('ingredients')">
        </div>
        <div class="col-md-4">
          <select v-model="selectedIngredients[index].unitId" class="form-control input-padding"
                  :class="[{ isRequired: (!isValidIngredients || !isFullyFilledIngredients) && index === 0 },
                  { unfilled: index === selectedIngredients.length - 1 && index > 0 }]" @change="resetErrors('ingredients')">
            <option v-for="unit in units" :value="unit.id">{{ unit.unit }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
    <label>Add directions *</label>
      <ol class="w-100">
        <li v-for="(_, index) in steps.concat('')">
          <input type="text" class="form-control mb-2 ml-2 w-99 input-padding" v-model="steps[index]"
                 :class="[{ unfilled: index === steps.length && index > 0 }, { isRequired: !isValidSteps }]"
                 @change="resetErrors('steps')">
        </li>
      </ol>
    </div>

    <div class="form-group">
    <label>Add variations</label>
      <ol class="w-100">
        <li v-for="(_, index) in variations.concat('')">
          <input type="text" class="form-control mb-2 ml-2 w-99 input-padding" v-model="variations[index]"
                 :class="{ unfilled: index === variations.length && index > 0 }">
        </li>
      </ol>
    </div>

    <div class="form-group">
      <label>Add some tags</label>
      <div class="alert alert-warning" role="alert" v-if="!isFullyFilledTags">
        <strong>Whoops!</strong> Some of the rows haven't been filled out fully. Please fill each field.
      </div>
      <div class="row" v-for="(_, index) in selectedTagTypes.concat('')">
        <div class="col-md-6 mb-2">
          <select v-model="selectedTagTypes[index]" class="form-control"
                  :class="[{ isRequired: !isFullyFilledTags && index === 0 },
                  { unfilled: index === selectedTagTypes.length && index > 0 }]">
            <option v-for="tagType in tagTypes" :value="tagType.id">{{ tagType.name }}</option>
          </select>
        </div>
        <!-- TODO: implement in backend to filter tags according to selected type. -->
        <div class="col-md-6">
          <select v-model="selectedTags[index]" class="form-control"
                  :class="[{ isRequired: !isFullyFilledTags && index === 0 },
                  { unfilled: index === selectedTagTypes.length && index > 0 }]">
            <option v-for="tag in tags" :value="tag.id">{{ tag.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <hr class="separator">
    <div class="form-group custom-control custom-checkbox ml-4">
      <input v-model="isFullRecipe" type="checkbox" class="custom-control-input" id="fullRecipe" checked>
      <label class="custom-control-label" for="fullRecipe">Is this recipe a full meal?</label>
    </div>
    <hr class="separator">
    <div class="form-group custom-control custom-checkbox ml-4">
      <input v-model="anonymous" type="checkbox" class="custom-control-input" id="anonymous">
      <label class="custom-control-label" for="anonymous">Do you want to publish this recipe anonymous?</label>
    </div>
    <hr class="separator">
    <div class="form-group custom-file">
      <input type="file" class="custom-file-input" id="recipePic" @change="uploadPic" ref="fileInput">
      <label class="custom-file-label" for="recipePic">Upload a picture of your recipe</label>
    </div><br><br>
    <button class="btn btn-primary" @click="create">Submit</button>
    <create-modal model="recipe" :name="name" :show="showModal" @close="onModalClose"/>

  </div>
</template>

<script>
    import CreateModal from '../Modal/CreateModal';

    export default {
        name: "AddRecipe",
        components: {
          CreateModal
        },
        data() {
            return {
                name: '',
                subtitle: '',
                description: '',
                activePrepTimeHours: 0,
                activePrepTimeMins: 0,
                passivePrepTimeHours: 0,
                passivePrepTimeMins: 0,
                isFullRecipe: true,
                anonymous: false,
                imageUrl: '',
                steps: [],
                variations: [],
                selectedEquipment: [],
                selectedIngredients: [{}],
                selectedTagTypes: [],
                selectedTags: [],

                tags: [],
                tagTypes: [],
                equipments: [],
                ingredients: [],
                units: [],

                currentType: {},

                showModal: false,

                isValidName: true,
                isValidDescription: true,
                isValidTime: true,
                isValidIngredients: true,
                isValidSteps: true,
                isFullyFilledIngredients: true,
                isFullyFilledTags: true
            }
        },
        watch: {
            name() {
                this.isValidName = true;
            },
            description() {
                this.isValidDescription = true;
            },
            activePrepTime() {
                this.isValidTime = true;
            },
            selectedIngredients(newValue) {
                const last = newValue[newValue.length - 1];
                if (last.ingredientId || last.amount || last.unitId) {
                    newValue.push({});
                }
                this.isValidIngredients = true;
            },
            steps() {
                this.isValidSteps = true;
            }
        }, deep: true,
        methods: {
            setNull() {
                this.name = '';
                this.subtitle = '';
                this.description = '';
                this.activePrepTimeHours = 0;
                this.activePrepTimeMins = 0;
                this.passivePrepTimeHours = 0;
                this.passivePrepTimeMins = 0;
                this.isFullRecipe = true;
                this.anonymous = false;
                this.imageUrl = '';
                this.selectedEquipments = [];
                this.steps = [];
                this.variations = [];
                this.selectedTagTypes = [];
                this.selectedTags = [];
                this.selectedIngredients = [];
            },
            validate() {
                this.isValidName = this.name;
                this.isValidDescription = this.description;
                this.isValidIngredients = this.selectedIngredients[0].ingredientId;
                this.isValidSteps = this.steps.length;

                this.isValidTime = this.activePrepTimeHours > 0 || this.activePrepTimeMins > 0;

                for(let i = 0; i < this.selectedIngredients.length - 1; i++) {
                    if (!this.selectedIngredients[i].amount || !this.selectedIngredients[i].unitId || !this.selectedIngredients[i].ingredientId) {
                        this.isFullyFilledIngredients = false;
                        break;
                    }
                    this.isFullyFilledIngredients = true;
                }

                let loop;
                this.selectedTagTypes.length > this.selectedTags.length ? loop = this.selectedTagTypes.length : loop = this.selectedTags.length;
                for(let i = 0; i < loop; i++) {
                    if (!this.selectedTags[i] || !this.selectedTagTypes[i]) {
                        this.isFullyFilledTags = false;
                        break;
                    }
                    this.isFullyFilledTags = true;
                }
            },
            create() {
                this.validate();
                if ( !this.name || !this.description || !this.steps.length || !this.selectedIngredients
                        || !this.isFullyFilledTags || !this.isFullyFilledIngredients
                        || !((this.activePrepTimeHours + this.passivePrepTimeMins) > 0)) {
                    console.log("Invalid input");
                    return;
                }

                this.$http.post('/recipes', {
                    name: this.name,
                    subtitle: this.subtitle,
                    description: this.description,
                    activePrepTime: (parseInt(this.activePrepTimeHours) * 60) + parseInt(this.activePrepTimeMins),
                    passivePrepTime: (parseInt(this.passivePrepTimeHours) * 60) + parseInt(this.passivePrepTimeMins),
                    isFullRecipe: this.isFullRecipe,
                    imageUrl: this.imageUrl,
                    variations: this.variations.map(description => ({
                        description: description
                    })),
                    steps: this.steps.map((description, index) => ({
                        step: index + 1,
                        description: description
                    })),
                    ingredientAmounts: this.selectedIngredients.map(s => ({
                        ...s,
                        amount: parseInt(s.amount)
                    })).slice(0, -1),
                    tagIds: this.selectedTags,
                    equipmentIds: this.selectedEquipment
                }).then(res => {
                    this.showModal = true;
                    console.log("Recipe created: ", res.data.data);
                }).catch(error => {
                    console.log("There was an error: ", error);
                })
            },
            uploadPic() {
                this.imageUrl = this.$refs.fileInput.imageUrl
            },
            onModalClose() {
                this.showModal = false;
                this.setNull();
            },
            resetErrors(input) {
                switch (input) {
                    case 'name':
                        this.isValidName = true;
                        break;
                    case 'desciption':
                        this.isValidDescription = true;
                        break;
                    case 'time':
                        this.isValidTime = true;
                        break;
                    case 'ingredients':
                        // TODO: test this
                        this.isValidIngredients = true;
                        this.isFullyFilledIngredients = true;
                        break;
                    case 'steps':
                        this.isValidSteps = true;
                        break;
                    default:
                        break;
                }
            }
        },
        created() {
            //TODO: use store
            this.$http.get('/units').then(res => {
                this.units = res.data.data;
            });

            this.$http.get('/ingredients').then(res => {
                this.ingredients = res.data.data;
            });

            this.$http.get('/equipments').then(res => {
                this.equipments = res.data.data;
            });

            this.$http.get('/tag-types').then(res => {
                this.tagTypes = res.data.data;
            });

            this.$http.get('/tags').then(res => {
                this.tags = res.data.data;
            });
        }
    }
</script>

<style scoped lang="scss">
  .w-99 {
    width: 99% !important
  }

  .time-gap {
    margin-right: 9em;
  }

  label {
    margin-left: 3px;
  }

  .label {
    margin-left: 3px;
    margin-right: -13px;
  }
</style>
