<template>
  <div>
    <h5 class="text-center text-dark"><b>Add Tag</b></h5>
    <div class="form-group">
      <label for="TagName">Add name *</label>
      <input v-model="name" type="text" class="form-control input-padding" id="TagName" placeholder="Name of the Tag"
             :class="{ isRequired: !isValidName }" @change="resetErrors('tag')">
    </div>
    <div class="form-group">
      <label for="TagType">Select tag type *</label>
      <select v-model="typeId" class="form-control" id="TagType" :class="{ isRequired: !isValidType }">
        <option v-for="tagType in tagTypes" :value="tagType.id" @change="resetErrors('type')">{{tagType.name}}</option>
      </select>
    </div>
    <button class="btn btn-primary" @click="create">Submit</button>
    <create-modal model="tag" :name="name" :show="showModal" @close="onModalClose"/>
  </div>
</template>

<script>
    import CreateModal from '../Modal/CreateModal';

    export default {
        name: "AddTag",
        components: {
          CreateModal
        },
        data() {
            return {
                tagTypes: [{}],
                name: '',
                typeId: null,
                showModal: false,

                isValidName: true,
                isValidType: true
            }
        },
        watch:{
            typeID() {
                this.isValidType = true;
            },
            name() {
                this.isValidName = true;
            }
        },
        deep: true,
        methods: {
            setNull() {
                this.name = '';
                this.typeId = null;
            },
            validate() {
                this.isValidName = this.name;
                this.isValidType = this.typeId;
            },
            create() {
                this.validate();
                if (!this.isValidName || !this.isValidType) {
                    console.log("Please enter a name and type");
                    return;
                }

                this.$http.post('/tags', {
                    name: this.name,
                    typeId: this.typeId
                }).then(res => {
                    this.showModal = true;
                    console.log("Tag created: ", res.data.data);
                }).catch(error => {
                    console.log("There was an error: ", error);
                });
            },
            onModalClose() {
                this.showModal = false;
                this.setNull();
            },
            resetErrors(input) {
                switch(input) {
                    case 'tag':
                        this.isValidName = true;
                        break;
                    case 'type':
                        // TODO: test this
                        this.isValidType = true;
                        break;
                    default:
                        break;
                }
            }
        },
        created() {
            this.$http.get('/tag-types').then(res => {
                this.tagTypes = res.data.data;
            });
        }
    }
</script>

<style scoped lang="scss">

</style>
