<template>
  <div class="bg-culi">
    <div class="container browse-spacing">
      <div class="row justify-content-center">
        <div class="col-8 col-md-6">
          <form @submit.prevent="searchRecipes">
            <input class="form-control search pl-4" v-model="searchQuery" type="search" placeholder="Recept zoeken">
            <i class="fas fa-search search-icon" @click="searchRecipes"></i>
          </form>
        </div>
      </div>
      <form>
        <div class="row mt-4 mb-5">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" v-for="tagType in tagTypes" :key="tagType.id">
            <label :for="`tag-type-${tagType.id}`" class="mb-0">{{ tagType.name }}</label>
            <select class="form-control" :id="`tag-type-${tagType.id}`" v-model="rawFilters.tagIds[tagType.id]" @change="getRecipes">
              <option selected :value="null">Geen geselecteerd</option>
              <option v-for="tag in tagType.tags" :value="tag.id">{{ tag.name }}</option>
            </select>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <label for="full-prep-time" class="mb-0">Totale tijd</label>
            <select class="form-control" id="full-prep-time" v-model="rawFilters.maxFullPrepTime" @change="getRecipes">
              <option selected :value="null">Geen geselecteerd</option>
              <option :value="15">< 15 min</option>
              <option :value="30">< 30 min</option>
              <option :value="60">< 1 uur</option>
              <option :value="120">< 2 uur</option>
            </select>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <label for="active-prep-time" class="mb-0">Bereidingstijd</label>
            <select class="form-control" id="active-prep-time" v-model="rawFilters.maxActivePrepTime" @change="getRecipes">
              <option selected :value="null">Geen geselecteerd</option>
              <option :value="15">< 15 min</option>
              <option :value="30">< 30 min</option>
              <option :value="60">< 1 uur</option>
            </select>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4" v-for="recipe in recipes" :key="recipe.id">
          <div class="recipe-card" :style="{'background-image': `url(${recipe.imageUrl})`}">
            <div class="recipe-card-title">
              {{ recipe.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import qs from 'qs';

export default {
    name: "Browse",
    data() {
        return {
            tagTypes: [],
            recipes: [],
            searchQuery: "",
            rawFilters: {
                tagIds: {},
                maxFullPrepTime: null,
                maxActivePrepTime: null
            }
        }
    },
    created() {
        this.$http.get('/tag-types/with-tags').then(res => {
            this.tagTypes = res.data.data;
            for (const tagType of this.tagTypes) {
              this.rawFilters.tagIds[tagType.id] = null;
            }
        });
        this.getRecipes();
    },
    methods: {
        getRecipes() {
            this.$http.get('/recipes', {
                params: this.getFilters(),
                paramsSerializer: params => qs.stringify(params, { arrayFormat: 'repeat', skipNulls: true })
            }).then(res => {
                this.recipes = res.data.data;
            })
        },
        searchRecipes() {
            if (!this.searchQuery) {
                // TODO: feedback to user
                return;
            }
            this.$http.get('/recipes/search', {params: {q: this.searchQuery}}).then(res => {
                this.recipes = res.data.data;
            })
        },
        getFilters() {
            const tagIds = Object.values(this.rawFilters.tagIds).filter(v => v !== null);
            return {
                ...this.rawFilters,
                tagIds: tagIds.length > 0 ? tagIds : null
            }
        }
    }
}
</script>

<style scoped lang="scss">
  .recipe-card {
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin-bottom: 2.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .recipe-card-title {
      position: relative;
      left: 0;
      top: 110px;
      background-color: rgba(255, 255, 255, 0.65);
      padding: 10px 20px;
      font-size: 1.5rem;
    }
  }
</style>