<template>
  <div class="bg-culi">
    <img class="img-fluid banner-img-home" src="/images/banner_home_stock_pano.jpg" alt="Banner with food"/>

    <div class="container spacing">
      <div class="row">
        <div class="col-md-6">
          <h1>Welkom bij <b>Culi</b></h1>
          <p>
            Eten doen we allemaal. 's Ochtends en 's middags weten we vaak wel wat de pot schaft,
            maar voor het avondeten blijft dit lastig. Je moet rekening houden met wat de rest wilt,
            met hoeveel tijd je over hebt op de dag om te koken of met wat er nog in huis ligt.
            Met Culi zijn al jouw problemen voorbij! Klik snel op de knop hier rechts,
            selecteer verschillende opties en ontdek elke dag iets nieuws!
          </p>
        </div>

        <div class="col-md-6 text-center justify-content-center d-flex align-items-center">
          <router-link :to="{name: 'browse'}" class="btn-lg btn-primary">Ontdek hier!</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Home"
    };
</script>

<style scoped lang="scss" >

</style>
