<template>
  <div class="bg-culi" v-if="recipe">
    <div class="banner-img-recipe" v-bind:style="[recipe.imageUrl ? {'background-image': `url(${recipe.imageUrl})`} : {'background-image': 'url(/images/loginBackground.jpg)'}]">
      <div class="container spacing">
        <div class="row justify-content-center">
          <div class="recipe-title">
            <div class="title">{{ this.name }}</div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="recipe-title">
            <div class="subtitle">{{ this.subtitle }}</div>
          </div>
        </div>
        <div class="author"> <!-- TODO: show 'culi user' if user is not logged in -->
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-lg-auto col-12 d-flex align-items-center">
                <img class="img-fluid author-pic" :src="this.authorImg">
                <p class="author-name">{{ author.firstName }} {{ author.lastName }}</p>
              </div>
              <div class="col-lg-auto col-12 time">
                <div class="row">


                </div>
                <div class="d-flex">
                  <i class="far fa-clock inline-icon"></i>
                  <span>{{ recipe.activePrepTime }} min</span>
                </div>
                <div class="d-flex">
                  <i class="far fa-hourglass inline-icon" style="margin-left: 4px"></i>
                  <span>{{ recipe.passivePrepTime }} min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container browse-spacing">
      <div class="row">
        <div class="col-12 col-lg-8 pr-lg-5">
          <div class="row">
            <div class="title-head col">
              Omschrijving:
            </div>
          </div>
          <div class="row">
            <div v-if="description" class="pr-5 text-justify col">
              {{ description }}
            </div>
            <div v-else>
              {{ name }}: {{ subtitle }}
            </div>
          </div>
          <div class="row mt-5">
            <div class="title-head col">
              Benodigdheden:
            </div>
          </div>
          <div class="row">
            <template v-if="equipments">
              <div class="col-lg-4">
                <ul>
                  <li v-for="equipment in equip_fh">{{ equipment }}</li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul>
                  <li  v-for="equipment in equip_sh">{{ equipment }}</li>
                </ul>
              </div>
            </template>
            <template v-else>
              <div>Geen extra benodigdheden</div>
            </template>
          </div>
          <div class="row mt-4">
            <div class="title-head col">Bereidingswijze:</div>
          </div>
          <div class="row">
            <div class="pr-5 text-justify col">
              <ol>
                <li v-for="step in steps" class="mb-3">{{ step }}</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="row justify-content-center">
            <div class="ingredients-card col-10 col-lg-12">
              <div class="ml-4 title-head">Ingrediënten:</div>
              <div>
                <ul v-for="ingredient in ingredients">
                  <li>{{ ingredient }}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <template v-if="variations">
              <div class="ingredients-card col-10 col-lg-12">
                <div class="ml-4 title-head">Variaties:</div>
                <div v-for="variation in variations">
                  <hr>
                  <div class="mx-3">{{ variation }}</div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: "Recipe",
    data() {
        return {
            imageUrl: "/images/loginBackground.jpg",
            name: "Bloemkool met kaas",
            subtitle: "met krieltjes en een vleesje",
            author_name: "Nikki Zandbergen",
            authorImg: "https://enschedelly.nl/img/profile_winter_2019.jpg",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            ingredients: ["bla", "bla", "bla", "bla", "bla", "bla", "bla", "bla"],
            equipments: ["biep", "boep", "beep", "boop"],
            steps: ["Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", "Verwarm de oven voor", "Snij de bloemkool in stukken", "Kook de bloemkool 5 minuten", "Stop de bloemkool in de oven"],
            variations: ["Ook lekker zonder vlees!", "In dit recept kan je de bloemkool ook vervangen door broccoli."],
            activeTime: 30,
            passiveTime: 45,
            recipeId: 8,

            backupImage: "/images/loginBackground.jpg",
            recipe: null,
            author: null
        }
    },
    created() {
        this.$http.get(`/recipes/${this.recipeId}`).then(res => {
            this.recipe = res.data.data;
            this.$http.get(`/users/${this.recipe.authorUuid}`).then(res => {
                this.author = res.data.data;
            })
        });
    },
    methods: {
    }
}
</script>

<style scoped lang="scss">
  .recipe-title {
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(252, 211, 199, 0.90);
    font-family: "Comic Sans MS",serif;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .title {
      padding: 15px 40px;
      font-size: 1.5rem;
    }

    .subtitle {
      padding: 15px 25px;
      font-size: 1.1rem;
      text-transform: lowercase;
    }
  }

  @media (min-width: 544px) {
    .recipe-title {
      margin: 25px 15px;
      border-radius: 10px;
      background-color: rgba(252, 211, 199, 0.90);
      font-family: "Comic Sans MS", serif;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .title {
        padding: 15px 60px;
        font-size: 2.5rem;
      }

      .subtitle {
        padding: 15px 30px;
        font-size: 1.5rem;
        text-transform: lowercase;
      }
    }
  }

  .ingredients-card {
    border: 3px solid #fca388;
    border-radius: 10px;
    padding: 25px 15px;
    margin: 1.5rem;
  }

  hr {
    border: 1px solid #fca388;
  }

  .title-head {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .author {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 100%;
  }

  .author-pic {
    height: 60px;
    width: auto;
    border-radius: 50%;
    border: solid 6px rgba(252, 211, 199, 0.90);
    z-index: 2;
  }

  .author-name {
    background-color: rgba(252, 211, 199, 0.90);
    margin-top: 1rem;
    margin-left: -1.5rem;
    padding: 3px 10px 3px 30px;
    border-radius: 5px;
    z-index: 1;
    height: auto;
  }

  .inline-icon {
    line-height: inherit;
    margin-right: 5px;
  }

  .time {
    background-color: rgba(252, 211, 199, 0.90);
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 6px 12px;
  }
</style>