<template>
  <Dialog :show="show" :title="title" @close="onClose">
    <p>{{ content }}</p>
    <template v-slot:footer>
      <button type="button" class="btn btn-secondary" @click="onClose">Cancel</button>
      <button type="button" class="btn btn-primary" @click="onApprove">Save</button>
    </template>
  </Dialog>
</template>

<script>
export default {
    name: "ApproveModal",
    props: {
        model: {
            required: true,
            type: String
        },
        name: {
            required: true,
            type: String
        },
        show: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    computed: {
        title() {
            return `Approve ${this.model}`;
        },
        content() {
            return `Are you sure you want to approve the ${this.model} ${this.name}?`;
        }
    },
    methods: {
        onClose() {
           this.$emit('close');
        },
        onApprove() {
           this.$emit('approve');
        }
    }
}
</script>

<style scoped lang="scss">

</style>