<template>
  <Dialog :show="show" :title="title" @close="onClose">
    <p>{{ content }}</p>
    <template v-slot:footer>
      <button type="button" class="btn btn-primary" @click="onClose">Close</button>
    </template>
  </Dialog>
</template>

<script>
    export default {
        name: "CreateModal",
        props: {
            model: {
                required: true,
                type: String
            },
            name: {
                required: true,
                type: String
            },
            show: {
                required: false,
                type: Boolean,
                default: false
            }
        },
        computed: {
            title() {
                return `Created ${this.model} successfully`;
            },
            content() {
                return `The ${this.model} ${this.name} has been created successfully.`;
            }
        },
        methods: {
            onClose() {
                this.$emit('close');
            }
        }
    }
</script>

<style scoped lang="scss">

</style>