<template>
  <Dialog :show="show" :title="title" @close="onClose">
    <p>{{ content }}</p>
    <template v-slot:footer>
      <button type="button" class="btn btn-secondary" @click="onClose">Annuleren</button>
      <button type="button" class="btn btn-danger" @click="onDelete">Verwijderen</button>
    </template>
  </Dialog>
</template>

<script>
    export default {
        name: "DeleteModal",
        props: {
            model: {
                required: true,
                type: String
            },
            name: {
                required: true,
                type: String
            },
            show: {
                required: false,
                type: Boolean,
                default: false
            }
        },
        computed: {
            title() {
                return `Verwijder ${this.model}`;
            },
            content() {
                return `Weet je zeker dat je ${this.model} ${this.name} wilt verwijderen?`;
            }
        },
        methods: {
            onClose() {
                this.$emit('close');
            },
            onDelete() {
                this.$emit('delete');
            }
        }
    }
</script>

<style scoped lang="scss">

</style>