<template>
  <Dialog :show="show" :title="title" @close="onClose">
    <p>{{ content }}</p>
    <template v-slot:footer>
      <button type="button" class="btn btn-secondary" @click="onClose">Annuleren</button>
      <button type="button" class="btn btn-primary" @click="onModify">Opslaan</button>
    </template>
  </Dialog>
</template>

<script>
    export default {
        name: "ModifyModal",
        props: {
            model: {
                required: true,
                type: String
            },
            name: {
                required: true,
                type: String
            },
            show: {
                required: false,
                type: Boolean,
                default: false
            }
        },
        computed: {
            title() {
                return `Wijzig ${this.model}`;
            },
            content() {
                return `Weet je zeker dat je de wijzigingen van ${this.model} ${this.name} wilt doorvoeren?`;
            }
        },
        methods: {
            onClose() {
                this.$emit('close');
            },
            onModify() {
                this.$emit('modify');
            }
        }
    }
</script>

<style scoped lang="scss">

</style>