<template>
  <div class="bg-admin">
    <div class="container spacing">
      <div class="row">
        <div class="col-4">
          <router-link :to="{ name: 'admin' }">
            <i class="fas fa-3x fa-angle-left icon-admin ml-3"></i>
          </router-link>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <h3 class="text-center text-active">Adding to the Database</h3>
          <hr class="underlined-admin">
        </div>
      </div>
      <div class="row">
        <div class="container bg-culi m-4 mb-5 p-4 rounded-lg" v-for="(c, index) in createComponents" :key="index">
          <component :is="c"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AddEquipment from "../../components/AddDB/AddEquipment";
import AddIngredient from "../../components/AddDB/AddIngredient";
import AddTagType from "../../components/AddDB/AddTagType";
import AddTag from "../../components/AddDB/AddTag";
import AddRecipe from "../../components/AddDB/AddRecipe";

export default {
    name: "AddDB",
    components: {
        AddEquipment,
        AddIngredient,
        AddTagType,
        AddTag,
        AddRecipe
    },
    computed: {
        createComponents() {
            return [
                AddEquipment,
                AddIngredient,
                AddTagType,
                AddTag,
                AddRecipe
            ];
        }
    }
}
</script>

<style scoped lang="scss">
  .underlined {
    border-width: 2px;
    border-color: #eddcd5;
    padding-bottom: 1rem;
    margin-left: 40%;
    margin-right: 40%;
  }

  a:hover {
    color: $primary !important;
  }
  </style>