<template>
  <div class="bg-admin vh">
    <div class="container spacing">
      <div class="row">
        <div class="col-4">
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
            <i class="fas fa-3x fa-angle-left icon-admin ml-3"></i>
          </a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <h3 class="text-center text-active">Admin panel</h3>
          <hr class="underlined-admin">
        </div>
      </div>
      <div class="row box-gap">
        <div class="mt-4 col-12 col-sm-6 col-md-4">
          <router-link :to="{ name: 'admin-add' }">
            <div class="container admin-card">
              <p class="text-light text-center">Add Database</p>
              <i class="fas fa-6x fa-pizza-slice admin-card-icon"></i>
            </div>
          </router-link>
        </div>
        <div class="mt-4 col-12 col-sm-6 col-md-4">
          <router-link :to="{ name: 'admin-modify' }">
            <div class="container admin-card">
              <p class="text-light text-center">Modify Database</p>
              <i class="fas fa-6x fa-drumstick-bite admin-card-icon"></i>
            </div>
          </router-link>
        </div>
        <div class="mt-4 col-12 col-sm-6 col-md-4">
          <router-link :to="{ name: 'admin-users' }">
           <div class="container admin-card">
              <p class="text-light text-center">Modify Users</p>
              <i class="fas fa-6x fa-users admin-card-icon"></i>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>

<!-- TODO:  Make boxes less wide, fill background color to full page -->

</template>

<script>

</script>

<style scoped lang="scss">
  .admin-card {
    background-color: #4a5057;
    box-shadow: 0 0.5rem 1rem #101111;
    cursor: pointer;
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
  }

  .admin-card:hover {
    background-color: #474d54;
    box-shadow: 0 0 1.5rem #c19081;
  }

  .admin-card-icon {
    color: #ffbca8;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
  }

  p {
    font-size: 1.3rem;
    color: #e2e5e8 !important;
  }

  a {
    text-decoration: none;
  }

  //.box-gap.row {
  //  margin-right: 30px;
  //  margin-left: 30px;
  //}
  //.box-gap > [class^="col-"], .box-gap > [class^=" col-"] {
  //  padding-right: -30px;
  //  padding-left: -30px;
  //}

  //.row > .box-gap {
  //  padding-right: 70px;
  //  padding-left: 70px;
  //}

</style>