<template>
  <div class="bg-admin">
    <div class="container spacing">
      <div class="row">
        <div class="col-4">
          <router-link :to="{ name: 'admin' }">
            <i class="fas fa-3x fa-angle-left icon-admin ml-3"></i>
          </router-link>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <h3 class="text-center text-active">Modifying the Data</h3>
          <hr class="underlined-admin">
        </div>
      </div>
      <div class="row">
        <div class="container bg-culi m-4 mb-5 p-4 rounded-lg" v-for="(c, index) in modifyComponents" :key="index">
          <component :is="c"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ModifyEquipment from "../../components/ModifyDB/ModifyEquipment";
import ModifyIngredient from "../../components/ModifyDB/ModifyIngredient";
import ModifyTagType from "../../components/ModifyDB/ModifyTagType";
import ModifyTag from "../../components/ModifyDB/ModifyTag";
import ModifyRecipe from "../../components/ModifyDB/ModifyRecipe";

export default {
    name: "ModifyDB",
    computed: {
        modifyComponents() {
            return [
                ModifyEquipment,
                ModifyIngredient,
                ModifyTagType,
                ModifyTag,
                ModifyRecipe
            ];
        },
    }
}
</script>

<style scoped lang="scss">
  a:hover {
    color: $primary !important;
  }
  
</style>