<template>
  <div class="bg-admin">
    <div class="container spacing">
      <div class="row">
        <div class="col-4">
          <router-link :to="{ name: 'admin' }">
            <i class="fas fa-3x fa-angle-left icon-admin ml-3"></i>
          </router-link>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <h3 class="text-center text-active">Managing Users</h3>
          <hr class="underlined-admin">
        </div>
      </div>
      <div class="row">
        <div class="container bg-culi m-4 mb-5 p-4 rounded-lg" v-for="(c, index) in userComponents" :key="index">
          <component :is="c"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RemoveUser from "../../components/UserDB/RemoveUser";
import ApproveUser from "../../components/UserDB/ApproveUser";

export default {
    name: "UserDB",
    computed: {
        userComponents() {
            return [
                ApproveUser,
                RemoveUser
            ];
        },
    }
}
</script>

<style scoped lang="scss">
  a:hover {
    color: $primary !important;
  }

</style>