<template>
  <div>
    <h5 class="text-center text-dark"><b>Modify Tag</b></h5>
    <div class="form-group">
      <label for="ModTag">Select tag to modify</label>
      <select v-model="selected" class="form-control input-padding" id="ModTag">
        <option v-for="tag in tags" :value="tag">{{tag.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="TagName">Change name</label>
      <input v-model="name" type="text" class="form-control input-padding" id="TagName"
             :class="{isRequired: !isValidName}" @change="resetErrors('tag')">
    </div>
    <div class="form-group">
      <label for="ChangeType">Change the type of the tag</label>
      <select v-model="typeId" class="form-control input-padding" id="ChangeType"
              :class="{isRequired: !isValidType}" @change="resetErrors('type')">
        <option v-for="tagType in tagTypes" :value="tagType.id">{{tagType.name}}</option>
      </select>
    </div>
    <div class="row">
      <div class="text-left col-6">
        <button class="btn btn-primary" @click="validate()" :disabled="!selected">Save</button>
        <modify-modal model="tag" v-if="selected" :name="selected.name" :show="showModifyModal"
                  @close="showModifyModal = false" @modify="alter"/>
      </div>
      <div class="text-right col-6">
        <button class="btn btn-danger col-auto" @click="showDeleteModal = true" :disabled="!selected">Delete</button>
        <delete-modal model="tag" v-if="selected" :name="selected.name" :show="showDeleteModal"
                  @close="showDeleteModal = false" @delete="remove"/>
      </div>
    </div>
  </div>
</template>

<script>
    import DeleteModal from "../Modal/DeleteModal";
    import ModifyModal from "../Modal/ModifyModal";

    export default {
        name: "ModifyTag",
        components: {
            DeleteModal,
            ModifyModal
        },
        data() {
            return {
                tagTypes: [{}],
                tags: [],
                name: '',
                selected: null,
                typeId: null,
                showDeleteModal: false,
                showModifyModal: false,
                isValidType: true,
                isValidName: true
            }
        },
        created() {
            this.$http.get('tags').then(res => {
                this.tags = res.data.data;
            });
            this.$http.get('tag-types').then(res => {
                this.tagTypes = res.data.data;
            });
        },
        watch: {
            selected() {
                if (this.selected) {
                    this.name = this.selected.name;
                    this.typeId = this.selected.type.id;
                }
            }
        },
        methods: {
            validate() {
                this.isValidType = this.typeId;
                this.isValidName = this.name;
                if (this.isValidType && this.isValidName && this.selected) { this.showModifyModal = true; }
                else { console.log("Please fill in the form on the red spots."); }
            },
            setNull() {
                this.selected = null;
                this.name = null;
                this.typeId = null;
            },
            alter() {
                this.showModifyModal = false;
                if (!this.name || !this.selected) {
                    console.log("Please select a tag, tag type, and enter a name");
                    return;
                }

                this.$http.put(`/tags/${this.selected.id}`, {
                    name: this.name,
                    typeId: this.typeId
                }).then(res => {
                    console.log("Tag updated: ", res.data.data);
                    const index = this.tags.findIndex(e => e.id === this.selected.id);
                    this.tags[index] = res.data.data;
                    this.setNull();
                }).catch(error => {
                    console.log("There was an error: ", error);
                });
            },
            remove() {
                if (!this.selected) {
                    console.log("Please select a valid tag");
                    return;
                }

                this.$http.delete(`/tags/${this.selected.id}`
                ).then(() => {
                    console.log("Tag removed: ", this.selected.name);
                    this.setNull();
                }).catch(error => {
                    console.log("There was an error: ", error);
                });
            },
            resetErrors(input) {
                switch(input) {
                    case 'tag':
                        this.isValidName = true;
                        break;
                    case 'type':
                        this.isValidType = true;
                        break;
                    default:
                        break;
                }
            }
        }
    }
</script>

<style scoped lang="scss">

</style>
