<template>
  <div>
    <h5 class="text-center text-dark"><b>Modify Ingredient</b></h5>
    <div class="form-group">
      <label for="ModIng">Select ingredient to modify</label>
      <select v-model="selected" class="form-control input-padding" id="ModIng">
        <option v-for="ingredient in ingredients" :value="ingredient">{{ingredient.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="IngName">Change name</label>
      <input v-model="name" type="text" class="form-control input-padding" id="IngName"
             :class="{isRequired: !isValid}" @change="resetErrors()">
    </div>
    <div class="row">
      <div class="text-left col-6">
        <button class="btn btn-primary" @click="validate()" :disabled="!selected">Save</button>
        <modify-modal model="ingredient" v-if="selected" :name="selected.name" :show="showModifyModal"
                      @close="showModifyModal = false" @modify="alter"/>
      </div>
      <div class="text-right col-6">
        <button class="btn btn-danger col-auto" @click="showDeleteModal = !showDeleteModal" :disabled="!selected">Delete</button>
        <delete-modal model="ingredient" v-if="selected" :name="selected.name" :show="showDeleteModal"
                      @close="showDeleteModal = false" @delete="remove"/>
      </div>
    </div>
  </div>
</template>

<script>
    import DeleteModal from "../Modal/DeleteModal";
    import ModifyModal from "../Modal/ModifyModal";

    export default {
        name: "ModifyIngredient",
        components: {
            DeleteModal,
            ModifyModal
        },
        data() {
            return {
                ingredients: [],
                name: '',
                selected: null,
                showDeleteModal: false,
                showModifyModal: false,
                isValid: true
            }
        },
        created() {
            this.$http.get('/ingredients').then(res => {
                this.ingredients = res.data.data;
            });
        },
        watch: {
            selected() {
                this.name = this.selected ? this.selected.name : '';
            }
        },
        methods: {
            validate() {
                this.isValid = this.name && this.selected;
                if (this.isValid) { this.showModifyModal = true; }
                else { console.log("Please fill in the form on the red spots."); }
            },
            setNull() {
                this.selected = null;
            },
            alter() {
                this.showModifyModal = false;
                if (!(this.name && this.selected)) {
                    console.log("Please select an ingredient and enter a name")
                    return;
                }

                this.$http.put(`/ingredients/${this.selected.id}`, {
                    name: this.name
                }).then(res => {
                    console.log("Ingredient updated: ", res.data.data);
                    const index = this.ingredients.findIndex(e => e.id === this.selected.id);
                    this.ingredients[index] = res.data.data;
                    this.setNull();
                }).catch(error => {
                    console.log("There was an error: ", error);
                });
            },
            remove() {
                this.showDeleteModal = true;
                if (!this.selected) {
                    console.log("Please select an ingredient");
                    return;
                }

                this.$http.delete(`/ingredients/${this.selected.id}`
                ).then(() => {
                    this.showDeleteModal = true;
                    console.log("Ingredient removed: ", this.selected.name);
                    this.setNull();
                }).catch(error => {
                    console.log("There was an error: ", error);
                });
            },
            resetErrors() {
                this.isValid = true;
            }
        }
    }
</script>

<style scoped lang="scss">

</style>
