<template>
  <div>
    <h5 class="text-center text-dark"><b>Modify Equipment</b></h5>
    <div class="form-group">
      <label for="ModEquip">Select equipment to modify</label>
      <select v-model="selected" class="form-control input-padding" id="ModEquip">
        <option v-for="equipment in equipments" :value="equipment">{{equipment.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="EquipName">Change name</label>
      <input v-model="name" type="text" class="form-control input-padding" id="EquipName"
             :class="{isRequired: !isValid}" @change="resetErrors()">
    </div>
    <div class="row">
      <div class="text-left col-6">
        <button class="btn btn-primary" @click="validate()" :disabled="!selected">Save</button>
        <modify-modal model="equipment" v-if="selected" :name="selected.name" :show="showModifyModal"
                      @close="showModifyModal = false" @modify="alter"/>
      </div>
      <div class="text-right col-6">
        <button class="btn btn-danger col-auto" @click="showDeleteModal = true" :disabled="!selected">Delete</button>
        <delete-modal model="equipment" v-if="selected" :name="selected.name" :show="showDeleteModal"
                      @close="showDeleteModal = false" @delete="remove"/>
      </div>
    </div>
  </div>
</template>

<script>
    import DeleteModal from "../Modal/DeleteModal";
    import ModifyModal from "../Modal/ModifyModal";

    export default {
        name: "ModifyEquipment",
        components: {
            DeleteModal,
            ModifyModal
        },
        data() {
            return {
                equipments: [],
                name: '',
                selected: null,
                showDeleteModal: false,
                showModifyModal: false,
                isValid: true
            }
        },
        created() {
            this.$http.get('/equipments').then(res => {
                this.equipments = res.data.data;
            });
        },
        watch: {
            selected() {
                this.name = this.selected ? this.selected.name : '';
            }
        },
        methods: {
            validate() {
                this.isValid = this.name && this.selected;
                if (this.isValid) { this.showModifyModal = true; }
                else { console.log("Please fill in the form on the red spots."); }
            },
            setNull() {
                this.selected = null;
            },
            alter() {
                this.showModifyModal = false;
                if (!this.name || !this.selected) {
                    console.log("Please select an equipment and enter a name");
                    return;
                }

                this.$http.put(`/equipments/${this.selected.id}`, {
                    name: this.name
                }).then(res => {
                    console.log("Equipment updated: ", res.data.data);
                    const index = this.equipments.findIndex(e => e.id === this.selected.id);
                    this.equipments[index] = res.data.data;
                    this.setNull();
                }).catch(error => {
                    console.log("There was an error: ", error);
                });
            },
            remove() {
                this.showDeleteModal = false;
                if (!this.selected) {
                    console.log("Please select an equipment");
                    return;
                }

                this.$http.delete(`/equipments/${this.selected.id}`
                ).then(() => {
                    this.showDeleteModal = true;
                    console.log("Equipment deleted: ", this.selected.name)
                    this.setNull();
                }).catch(error => {
                    console.log("There was an error: ", error);
                });
            },
            resetErrors() {
                // TODO: test all this stuff on all modify components.
                this.isValid = true;
            }
        }
    }
</script>

<style scoped lang="scss">

</style>
