<template>
  <div>
    <h5 class="text-center text-dark"><b>Modify Recipe</b></h5>
    <div class="form-group">
      <label for="ModRecipe">Select recipe to modify</label>
      <select v-model="selected" class="form-control input-padding" id="ModRecipe">
        <option v-for="recipe in recipes" :value="recipe">{{ recipe.name }}</option>
      </select>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="recipeName">Change the name</label>
        <input v-model="name" type="text" class="form-control input-padding" id="recipeName"
              :class="{isRequired: !isValidName}" @change="resetErrors('name')">
      </div>
      <div class="form-group col-md-7">
        <label for="recipeSubtitle">Change the subtitle</label>
        <input v-model="subtitle" type="text" class="form-control input-padding" id="recipeSubtitle">
      </div>
    </div>
    <div class="form-group">
      <label for="recipeDescription">Change the description</label>
      <textarea v-model="description" class="form-control input-padding" id="recipeDescription" rows="1"
            :class="{isRequired: !isValidDescription}" @change="resetErrors('description')"/>
    </div>

    <div class="row">
      <div class="col-md-7 label">Add the needed preparation time *</div>
      <div class="col-md-5">Add the needed waiting time</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="activeHours">Hours</label>
        <input v-model="activePrepTimeHours" type="number" min="0" class="form-control input-padding" id="activeHours"
               :class="{isRequired: !isValidTime}" @change="resetErrors('time')">
      </div>
      <div class="form-group col-md-3 time-gap">
        <label for="activeMins">Minutes</label>
        <input v-model="activePrepTimeMins" type="number" min="1" class="form-control input-padding" id="activeMins"
               :class="{isRequired: !isValidTime}" @change="resetErrors('time')">
      </div>
      <div class="form-group col-md-2">
        <label for="passiveHours">Hours</label>
        <input v-model="passivePrepTimeHours" type="number" min="0" class="form-control input-padding" id="passiveHours">
      </div>
      <div class="form-group col-md-3">
        <label for="passiveMins">Minutes</label>
        <input v-model="passivePrepTimeMins" type="number" min="1" class="form-control input-padding" id="passiveMins">
      </div>
    </div>

    <div class="form-group">
      <label for="addEquip">Change the needed equipment</label>
      <select v-model="selectedEquipments" multiple class="form-control input-padding" id="addEquip">
        <option v-for="equipment in equipments" :value="equipment.id">{{ equipment.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <!-- TODO: see why the additional empty line at add ingredient is gone and bring it back. -->
      <label>Change the needed ingredients</label>
      <div class="alert alert-warning" role="alert" v-if="!isFullyFilledIngredients">
        <strong>Whoops!</strong> Some of the rows haven't been filled out fully. Please fill each field.
      </div>
      <div class="row" v-for="(_, index) in selectedIngredients">
        <div class="col-md-4 mb-2">
          <select v-model="selectedIngredients[index].ingredientId" class="form-control input-padding"
                :class="[{ isRequired: (!isValidIngredients || !isFullyFilledIngredients) && index === 0 },
                          { unfilled: index === selectedIngredients.length - 1 && index > 0 }]"
                          @change="resetErrors('ingredients')">
            <option v-for="i in ingredients" :value="i.id">{{ i.name }}</option>
          </select>
        </div>
        <div class="col-md-3">
          <input v-model="selectedIngredients[index].amount" type="number" min="0" class="form-control input-padding"
                :class="[{ isRequired: (!isValidIngredients || !isFullyFilledIngredients) && index === 0 },
                          { unfilled: index === selectedIngredients.length - 1 && index > 0 }]"
                          @change="resetErrors('ingredients')">
        </div>
        <div class="col-md-3">
          <select v-model="selectedIngredients[index].unitId" class="form-control input-padding"
                :class="[{ isRequired: (!isValidIngredients || !isFullyFilledIngredients) && index === 0 },
                          { unfilled: index === selectedIngredients.length - 1 && index > 0 }]"
                          @change="resetErrors('ingredients')">
            <option v-for="unit in units" :value="unit.id">{{ unit.unit }}</option>
          </select>
        </div>
        <div class="text-right col-md-2">
          <button class="btn btn-danger col-auto" @click="removeRow" :disabled="!selected">Delete</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Change the directions</label>
      <div class="form-inline">
        <ol class="w-100">
          <li v-for="(_, index) in steps.concat('')">
            <input type="text" class="form-control mb-2 ml-2 w-90 input-padding" v-model="steps[index]"
                   :class="[{ unfilled: index === steps.length && index > 0 }, { isRequired: !isValidSteps }]"
                   @change="resetErrors('steps')">
            <button class="btn btn-danger mb-2 float-right" @click="removeRow" :disabled="!selected"> Delete </button>
          </li>
        </ol>
      </div>
    </div>

    <div class="form-group">
      <label>Change the variations</label>
      <div class="form-inline">
        <ol class="w-100">
          <li v-for="(_, index) in variations.concat('')">
            <input type="text" class="form-control mb-2 ml-2 w-90 input-padding" v-model="variations[index]"
                   :class="{ unfilled: index === variations.length && index > 0 }">
            <button class="btn btn-danger mb-2 float-right" @click="removeRow" :disabled="!selected"> Delete </button>
          </li>
        </ol>
      </div>
    </div>

    <div class="form-group">
      <label>Add some tags</label>
      <div class="alert alert-warning" role="alert" v-if="!isFullyFilledTags">
        <strong>Whoops!</strong> Some of the rows haven't been filled out fully. Please fill each field.
      </div>
      <div class="row" v-for="(_, index) in selectedTagTypes.concat('')">
        <div class="col-md-6 mb-2">
          <select v-model="selectedTagTypes[index]" class="form-control input-padding">
            <option v-for="tagType in tagTypes" :value="tagType.id">{{ tagType.name }}</option>
          </select>
        </div>
        <div class="col-md-6">
          <select v-model="selectedTags[index]" class="form-control input-padding">
            <option v-for="tag in tags" :value="tag.id">{{ tag.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group custom-control custom-checkbox">
      <input v-model="isFullRecipe" type="checkbox" class="custom-control-input" id="fullRecipe" checked>
      <label class="custom-control-label" for="fullRecipe">Is this recipe a full meal?</label>
    </div>
    <div class="form-group custom-control custom-checkbox">
      <input v-model="anonymous" type="checkbox" class="custom-control-input" id="anonymous">
      <label class="custom-control-label" for="anonymous">Do you want to publish this recipe anonymous?</label>
    </div>
    <div class="form-group custom-file">
      <input type="file" class="custom-file-input input-padding" id="recipePic">
      <label class="custom-file-label" for="recipePic">Upload a different picture of your recipe</label>
    </div>
    <br><br>
    <div class="row">
      <div class="text-left col-6">
        <button class="btn btn-primary" @click="validate()" :disabled="!selected">Save</button>
        <modify-modal model="recipe" v-if="selected" :name="selected.name" :show="showModifyModal"
                @close="showModifyModal = false" @modify="alter"/>
      </div>
      <div class="text-right col-6">
        <button class="btn btn-danger col-auto" @click="showDeleteModal = true"
                :disabled="!selected">Delete</button>
        <delete-modal model="recipe" v-if="selected" :name="selected.name" :show="showDeleteModal"
                @close="showDeleteModal = false" @delete="remove"/>
      </div>
    </div>
  </div>
</template>

<script>
import DeleteModal from "../Modal/DeleteModal";
import ModifyModal from "../Modal/ModifyModal";

export default {
    name: "ModifyRecipe",
    components: {
        DeleteModal,
        ModifyModal
    },
    data() {
        return {
            name: '',
            subtitle: '',
            description: '',
            activePrepTimeMins: 0,
            activePrepTimeHours: 0,
            passivePrepTimeMins: 0,
            passivePrepTimeHours: 0,
            isFullRecipe: true,
            author: null,
            imageUrl: '',
            steps: [],
            variations: [],
            tags: [],
            tagTypes: [],
            equipments: [],

            selectedEquipments: [],
            selectedIngredients: [{}],
            selectedAmounts: [],
            selectedUnits: [],
            selectedTags: [],
            selectedTagTypes: [],
            ingredients: [],
            recipes: [{}],
            units: [],
            anonymous: false,
            selected: null,

            showDeleteModal: false,
            showModifyModal: false,

            isValidName: true,
            isValidDescription: true,
            isValidTime: true,
            isValidIngredients: true,
            isValidSteps: true,
            isFullyFilledIngredients: true,
            isFullyFilledTags: true
        }
    },
    created() {
        this.$http.get('/recipes').then(res => {
            this.recipes = res.data.data;
        });

        this.$http.get('/units').then(res => {
            this.units = res.data.data;
        });

        this.$http.get('/ingredients').then(res => {
            this.ingredients = res.data.data;
        });

        this.$http.get('/equipments').then(res => {
            this.equipments = res.data.data;
        });

        this.$http.get('/tag-types').then(res => {
            this.tagTypes = res.data.data;
        });

        this.$http.get('/tags').then(res => {
            this.tags = res.data.data;
        });
    },
    watch: {
        selected() {
            if (this.selected) {
                this.name = this.selected.name;
                this.subtitle = this.selected.subtitle;
                this.description = this.selected.description;
                this.activePrepTimeHours = Math.floor(this.selected.activePrepTime / 60);
                this.activePrepTimeMins = (this.selected.activePrepTime % 60);
                this.passivePrepTimeHours = Math.floor(this.selected.passivePrepTime / 60);
                this.passivePrepTimeMins = (this.selected.passivePrepTime % 60);
                this.selectedEquipment = this.selected.equipments.map(e => e.id);
                this.selectedIngredients = this.selected.ingredientAmounts.map(i => {
                    return {
                        ingredientId: i.ingredient.id,
                        amount: i.amount,
                        unitId: i.unit.id
                    }
                });
                this.selectedIngredients.push({});
                this.steps = this.selected.steps.map(e => e.description);
                this.variations = this.selected.variations.map(e => e.description);
                for (const tag of this.selected.tags) {
                    this.selectedTagTypes.push(this.tagTypes.find(t => t.id === tag.type.id).id);
                    this.selectedTags.push(tag.id);
                }
                this.isFullRecipe = this.selected.isFullRecipe;
                this.anonymous = this.selected.anonymous;
                console.log(this.selectedIngredients);
            }
        },
        selectedIngredients(newValue) {
            const last = newValue[newValue.length - 1];
            if (last.ingredientId || last.amount || last.unitId) {
              newValue.push({});
            }
            this.isValidIngredients = true;
        }
    },
    methods: {
        validate() {
            this.isValidName = this.name;
            this.isValidDescription = this.description;
            this.isValidIngredients = this.selectedIngredients[0].ingredientId;
            this.isValidSteps = this.steps.length;

            this.isValidTime = this.activePrepTimeMins || this.activePrepTimeHours > 0;

            for (let i = 0; i < this.selectedIngredients.length - 1; i++) {
                if (!this.selectedIngredients[i].amount || !this.selectedIngredients[i].unitId || !this.selectedIngredients[i].ingredientId) {
                    this.isFullyFilledIngredients = false;
                    break;
                }
                this.isFullyFilledIngredients = true;
            }

            let loop;
            this.selectedTagTypes.length > this.selectedTags.length ? loop = this.selectedTagTypes.length : loop = this.selectedTags.length;
            for (let i = 0; i < loop; i++) {
                if (!this.selectedTags[i] || !this.selectedTagTypes[i]) {
                    this.isFullyFilledTags = false;
                    break;
                }
                this.isFullyFilledTags = true;
            }

            if (this.isValidName && this.isValidDescription && this.isValidIngredients && this.isValidSteps
                    && this.isValidTime && this.isFullyFilledIngredients && this.isFullyFilledTags) {
                this.showModifyModal = true;
            }
            if (!(this.isValidName && this.isValidDescription && this.isValidIngredients && this.isValidSteps
                    && this.isValidTime && this.isFullyFilledIngredients && this.isFullyFilledTags)) {
                console.log("Please fill in the form on the red spots.");
            }
        },
        setNull() {
            this.name = '';
            this.subtitle = '';
            this.description = '';
            this.activePrepTimeMins = 0;
            this.activePrepTimeHours = 0;
            this.passivePrepTimeMins = 0;
            this.passivePrepTimeHours = 0;
            this.isFullRecipe = true;
            this.author = null;
            this.imageUrl = '';
            this.steps = [];
            this.variations = [];
            this.tags = [];
            this.tagTypes = [];
            this.equipments = [];
        },
        alter() {
            this.showModifyModal = false;
            if ( !this.name || !this.description || !this.steps.length || !this.selectedIngredients
                    || !this.isFullyFilledTags || !this.isFullyFilledIngredients
                    || !((this.activePrepTimeHours + this.passivePrepTimeMins) > 0)) {
                console.log("Invalid input");
                return;
            }
            this.$http.put(`/recipes/${this.selected.id}`, {
                name: this.name,
                subtitle: this.subtitle,
                description: this.description,
                activePrepTime: (parseInt(this.activePrepTimeHours) * 60) + parseInt(this.activePrepTimeMins),
                passivePrepTime: (parseInt(this.passivePrepTimeHours) * 60) + parseInt(this.passivePrepTimeMins),
                isFullRecipe: this.isFullRecipe,
                imageUrl: this.imageUrl,
                variations: this.variations.map(description => ({
                    description: description
                })),
                steps: this.steps.map((description, index) => ({
                    step: index + 1,
                    description: description
                })),
                ingredientAmounts: this.selectedIngredients.map(s => ({
                    ...s,
                    amount: parseInt(s.amount)
                })).slice(0, -1),
                tagIds: this.selectedTags,
                equipmentIds: this.selectedEquipment
            }).then(res => {
                console.log("Recipe updated: ", res.data.data);
                const index = this.recipes.findIndex(e => e.id === this.selected.id);
                this.recipes[index] = res.data.data;
                this.setNull();
            }).catch(error => {
                console.log("There was an error: ", error);
            })
        },
        remove() {
            if (!this.selected) {
                console.log("Please select a recipe");
                return;
            }

            this.$http.delete(`/recipes/${this.selected.id}`
            ).then(() => {
                console.log("Recipe removed: ", this.selected.name);
                this.setNull();
            }).catch(error => {
                console.log("There was an error: ", error);
            });
        },
        removeRow() {

        },
        resetErrors(input) {
            switch (input) {
                case 'name':
                    this.isValidName = true;
                    break;
                case 'description':
                    this.isValidDescription = true;
                    break;
                case 'time':
                    this.isValidTime = true;
                    break;
                case 'ingredients':
                    this.isValidIngredients = true;
                    this.isFullyFilledIngredients = true;
                    break;
                case 'steps':
                    this.isValidSteps = true;
                    break;
                default:
                    break;
            }
        }
    }
}
</script>

<style scoped lang="scss">
  .w-90 {
    width: 90% !important;
  }

  .time-gap {
    margin-right: 9em;
  }

  label {
    margin-left: 3px;
  }

  .label {
    margin-left: 3px;
    margin-right: -13px;
  }

</style>
