// == CUSTOM SCSS ======================================================================================================
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// -- General ---------- General ---------- General ---------- General ---------- General ---------- General -----------

.vh {
  // TODO: fix properly
  height: calc(100vh - 120px);
}

label {
  padding-left: 0.2rem;
}

.spacing {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.browse-spacing {
  padding-top: 3.5rem;
  padding-bottom:3rem;
}

.bg-culi {
  background-color: $culi-background;
}

// makes padding of input fields match padding of v-select
.input-padding {
  padding: 0 21px 0 21px;
}

.icon {
  cursor: pointer;
  color: #fca388;
}

.icon:hover {
  color: $primary;
}

.pointer {
  cursor: pointer;
}

.search {
  border-radius: 20px;
}

.text-title {
  color: #897d79;
}

.underlined {
  border-width: 3px;
  border-color: #fca388;
  padding-bottom: 1rem;
  margin-left: 40%;
  margin-right: 40%;
}

.banner-img-home {
  height: 350px;
  width: 100%;
  position: center;
}

.banner-img-recipe {
  height: calc(100vh - 70px);
  width: 100%;
  background-size: cover;
  position: center;
}

.image-round {
  box-shadow: 0 0 0 2px $primary;
  border: solid 10px #eddcd5;
  border-radius: 200px;
  width: 75%;
  height: 75%;
}

.position-top {
  position: relative;
  top: 0;
}

.search-icon {
  position: absolute;
  top: 12px;
  right: 35px;
  cursor: pointer;
}

// -- AdminDB ---------- AdminDB ---------- AdminDB ---------- AdminDB ---------- AdminDB ---------- AdminDB -----------

// feedback required
.isRequired {
  border-color: rgba(255,0,0,0.6);
  $vs-border-color: rgba(255,0,0,0.6) !important;
  box-shadow: 0 0 10px 1px rgba(255,0,0,0.6);
}

// unfilled rows
.unfilled {
  opacity: 60% !important;
}

.unfilled:hover {
  opacity: 100% !important;
}

.text-active {
  color: #ffbca8 !important;
}

.bg-admin {
  background-color: #4a5057;
}

.icon-admin {
  cursor: pointer;
  color: #ffbca8 !important;
}

.icon-admin:hover {
  color: $primary !important;
}

.underlined-admin {
  border-width: 2px;
  border-color: #eddcd5;
  padding-bottom: 1rem;
  margin-left: 40%;
  margin-right: 40%;
}

// -- v-select ---------- v-select ---------- v-select ---------- v-select ---------- v-select ---------- v-select -----

.v-select {
  background-color: white !important;
  border-radius: 5px;
}

.vs__dropdown-toggle {
  padding: 1px 12px 7px 12px !important;
}

// does not show ugly 'x' to remove stuff
.vs__clear {
  display: none;
}
