<template>
  <modal name="loginModal" class="x-modal" classes="x-modal-box" :clickToClose="false" height="auto" adaptive :maxWidth="600" width="95%">
    <div class="x-modal-container">
      <div class="x-modal-header">
        <h2>Inloggen</h2>
      </div>

      <div class="x-modal-body">
        <form @submit.prevent="onLogin" ref="loginForm" novalidate>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control input-padding" id="email" v-model="email" :class="{isRequired: !isValidEmail}" required>
            <!--  TODO: give textual feedback to user when invalid. TODO for all form input -->
            <!--              <div class="invalid-feedback">-->
            <!--                Please enter a valid email address-->
            <!--              </div>-->
          </div>

          <div class="form-group">
            <label for="password">Wachtwoord</label>
            <input type="password" class="form-control input-padding" id="password" v-model="password" :class="{isRequired: !isValidPassword}" required>
          </div>

          <div class="row justify-content-between">
            <div class="col-auto">
              <a href="javascript:void(0)" @click="passAlert">
                Wachtwoord vergeten
              </a>
            </div>
          </div>

          <button type="submit" class="d-none"/>
        </form>
      </div>

      <div class="x-modal-footer">
        <div class="btn btn-primary mr-3" @click="onLogin">Inloggen</div>
        <router-link :to="{ name: 'register' }"><div class="btn btn-secondary" @click="">Registreren</div></router-link>
      </div>
    </div>
  </modal>
</template>

<script>
import http from "@/services/http";

export default {
    name: "Login",
    data() {
        return {
            email: null,
            password: null,

            isValidEmail: true,
            isValidPassword: true
        }
    },
    methods: {
        passAlert() {
            alert('Ja da\'s jammer');
        },
        validate() {
            this.isValidEmail = this.email;
            this.isValidPassword = this.password;

            return this.isValidEmail && this.isValidPassword;
        },
        onLogin() {
            this.resetErrors();
            if (this.validate()) {
                this.$http.post('/auth/login', {
                    email: this.email,
                    password: this.password
                }).then(res => {
                    const token = res.data.data.token;
                    http.afterLogin(token);
                    this.$router.push(this.$route.query.redirect || '/');
                }).catch(() => {
                    console.log('Invalid credentials');
                    // TODO incorrect login
                })
            }
        },
        resetErrors() {
            this.isValidEmail = true;
            this.isValidPassword = true;
        }
    },
    mounted() {
        this.$modal.show('loginModal');
    }
}
</script>

<style lang="scss" scoped>
.x-modal {
  background-image: url("/images/loginBackground.jpg");
  background-size: cover;
  width: 100%;
  height: calc(100vh - 50px);

  .x-modal-container {
    padding: 2rem;
    border-radius: 50%;

    .x-modal-header {
      margin-bottom: 1.5rem;
    }

    .x-modal-footer {
      margin-top: 1.5rem;
    }
  }
}
</style>

<style>
.x-modal-box {
  border-radius: 15px !important;
}
</style>
