<template>
  <div>
    <div class="row">
      <div class="col-4">
        <router-link :to="{ name: 'login' }">
          <i class="fas fa-3x fa-angle-left icon-admin ml-3"></i>
        </router-link>
      </div>
    </div>

    <modal name="loginModal" class="x-modal" classes="x-modal-box" :clickToClose="false" height="auto" adaptive :maxWidth="800" width="95%">
      <div class="x-modal-container">
        <div class="x-modal-header">
          <h2>Registreren</h2>
        </div>

        <div class="x-modal-body">
          <form @submit.prevent="onLogin" ref="loginForm" novalidate>

            <div class="form-row">
              <div class="form-group col-5">
                <label for="first_name">Voornaam</label>
                <input type="text" class="form-control input-padding" id="first_name" v-model="firstName"
                       :class="{isRequired: !isValidFirstName}" @change="resetErrors('firstName')">
              </div>

              <div class="form-group col-7">
                <label for="last_name">Achternaam</label>
                <input type="text" class="form-control input-padding" id="last_name" v-model="lastName"
                       :class="{isRequired: !isValidLastName}" @change="resetErrors('lastName')">
              </div>
            </div>

            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" class="form-control input-padding" id="email" v-model="email"
                     :class="{isRequired: !isValidEmail}" @change="resetErrors('email')">
            </div>

            <div class="form-row">

            </div>
            <div class="form-group">
              <label for="password">Wachtwoord</label>
              <input type="password" class="form-control input-padding" id="password" v-model="password" placeholder="Wachtwoord"
                     :class="{isRequired: !isValidPassword || !isPassSame}" @change="resetErrors('password')">
            </div>

            <div class="form-group">
              <input type="password" class="form-control input-padding" id="repeat_pass" v-model="repeatPass" placeholder="Herhaal wachtwoord"
                     :class="{isRequired: !isValidRepeatPass || !isPassSame}" @change="resetErrors('repeatPass')">
            </div>

            <button type="submit" class="d-none"/>
          </form>
        </div>

        <div class="x-modal-footer">
          <router-link :to="{ name: 'login' }"><div class="btn btn-secondary mr-3" @click="">Inloggen</div></router-link>
          <div class="btn btn-primary mr-3" @click="onRegister">Registreren</div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
export default {
    name: "Register",
    data() {
        return {
            firstName: null,
            lastName: null,
            email: null,
            password: null,
            repeatPass: null,

            isValidFirstName: true,
            isValidLastName: true,
            isValidEmail: true,
            isValidPassword: true,
            isValidRepeatPass: true,
            isPassSame: true
        }
    },
    methods: {
        passAlert() {
            alert('Well that sucks');
        },
        validate() {
            this.isValidFirstName = this.firstName;
            this.isValidLastName = this.lastName;
            this.isValidEmail = this.email;
            this.isValidPassword = this.password;
            this.isValidRepeatPass = this.repeatPass;
            this.isPassSame = (this.isValidPassword === this.isValidRepeatPass);

            return this.isValidEmail && this.isValidPassword;
        },
        resetErrors(input) {
            switch(input) {
                case 'firstName':
                    this.isValidFirstName = true;
                    break;
                case 'lastName':
                    this.isValidLastName = true;
                    break;
                case 'email':
                    this.isValidEmail = true;
                    break;
                case 'password':
                    this.isValidPassword = true;
                    this.isPassSame = true;
                    break;
                case 'repeatPass':
                    this.isValidRepeatPass = true;
                    this.isPassSame = true;
                    break;
                default:
                    break;
            }
        },
        onRegister() {
            this.resetErrors();
            if (this.validate()) {
                this.$http.post('/users', {
                    firstName: this.firstName,
                    lastName: this.lastName,
                    email: this.email,
                    password: this.password
                }).then(res => {
                    // TODO: show register message
                }).catch(() => {
                    console.log('Invalid credentials');
                    // TODO incorrect register
                })
            }
        }
    },
    mounted() {
        this.$modal.show('loginModal');
    }
}
</script>

<style lang="scss" scoped>
.x-modal {
  background-image: url("/images/loginBackground.jpg");
  background-size: cover;

  .x-modal-container {
    padding: 2rem;
    border-radius: 50%;

    .x-modal-header {
      margin-bottom: 1.5rem;
    }

    .x-modal-footer {
      margin-top: 1.5rem;
    }
  }
}
</style>

<style>
.x-modal-box {
  border-radius: 15px !important;
}
</style>
