<template>
  <form>
    <div class="form-group row">
      <label for="first-name" class="th col-3 col-form-label">voornaam: </label>
      <input v-model="user.firstName" type="text" id="first-name" class="form-control mx-sm-3 col-7"
             :class="{isRequired: !isValidFirstName}" @change="resetErrors('firstName')">
    </div>
    <div class="form-group row">
      <label for="last-name" class="th col-3 col-form-label">achternaam: </label>
      <input v-model="user.lastName" type="text" id="last-name" class="form-control mx-sm-3 col-7"
             :class="{isRequired: !isValidLastName}" @change="resetErrors('lastName')">
    </div>
    <div class="form-group row">
      <label for="email" class="th col-3 col-form-label">e-mail: </label>
      <input v-model="user.email" type="text" id="email" class="form-control mx-sm-3 col-7"
             :class="{isRequired: !isValidEmail}" @change="resetErrors('email')">
    </div>
  </form>
</template>

<script>
import DeleteModal from "../Modal/DeleteModal";
import ModifyModal from "../Modal/ModifyModal";

export default {
    name: "EditUserInfo",
    components: {
        DeleteModal,
        ModifyModal
    },
    props: {
        user: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            firstName: '',
            lastName: '',
            email: '',

            showModifyModal: false,
            showDeleteModal: false,

            isValidFirstName: true,
            isValidLastName: true,
            isValidEmail: true
        }
    },
    methods: {
        validate() {
            if (!this.firstName) this.isValidFirstName = false;
            if (!this.lastName) this.isValidLastName = false;
            if (!this.email || !this.email.contains('@') || !this.email.contains('.')) this.isValidEmail = false;
            // TODO: proper email validation;

            if (!this.isValidFirstName || !this.isValidLastName || !this.isValidEmail) {
                console.log("Please fill in the form on the red spots.");
            } else {
                this.showModifyModal = true;
            }
        },
        alter() {
            if (!this.isValid) {
                console.log("Please select an equipment and enter a name");
                return;
            }

            this.$http.put(`/users/${this.user.uuid}`, {
                firstName: this.firstName,
                lastName: this.lastName,
                email: this.email
            }).then(res => {
                console.log("User updated: ", res.data.data);
                this.active = 'show';
            }).catch(error => {
                console.log("There was an error: ", error);
            });
        },
        remove() {
            this.showDeleteModal = false;

            this.$http.delete(`/users/${this.user.uuid}`
            ).then(() => {
                this.showDeleteModal = true;
                console.log("User deleted: ", this.user.name)
                this.logout();
            }).catch(error => {
                console.log("There was an error: ", error);
            });
        },
        logout() {
            // TODO: logout user and redirect to home page
        },
        resetErrors(input) {
            switch(input) {
                case 'firstName':
                    this.isValidFirstName = true;
                    break;
                case 'lastName':
                    this.isValidLastName = true;
                    break;
                case 'email':
                    this.isValidEmail = true;
                    break;
                default:
                    break;
            }
        }
    }
}
</script>

<style scoped lang="scss">
  .th {
    font-size: 18px;
    font-weight: bold;
    padding-top: 7px;
  }
</style>
