<template>
  <table>
    <tr>
      <td class="th">naam:</td>
      <td class="td">{{user.firstName}} {{user.lastName}}</td>
    </tr>
    <tr>
      <td class="th">e-mail:</td>
      <td class="td">{{user.email}}</td>
    </tr>
    <tr>
      <td class="th">lid sinds:</td>
      <td class="td">{{joinedAt}}</td>
    </tr>
  </table>
</template>

<script>
import moment from 'moment';

export default {
    name: "ShowUserInfo",
    props: {
        user: {
            type: Object,
            required: true
        }
    },
    computed: {
        joinedAt() {
            return moment(this.user.joinedAt * 1000).format("DD MMMM YYYY")
        }
    },
    data() {
        return {
            firstName: '',
            lastName: '',
            email: ''
        }
    },
    created() {
        moment.locale("nl")
    }

}
</script>

<style scoped>
  .th {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .td {
    font-size: 16px;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }

</style>
